.btn {
    font-size: 14px;
}

.form-control, .form-select {
    &:focus {
        border: var(--bs-border-width) solid var(--bs-border-color) !important;
        box-shadow: none !important;
    }
}

.select2-selection {
    box-shadow: none !important;
    border: var(--bs-border-width) solid var(--bs-border-color) !important;

    &.select2-selection--multiple {
        box-shadow: none !important;
        border: var(--bs-border-width) solid var(--bs-border-color) !important;
    }
}

.select2-dropdown {
    border-color: var(--bs-border-color) !important;
}
