// @import url('https://fonts.cdnfonts.com/css/mona-sans');

// Toggle global options
$enable-gradients: false;
$enable-shadows: false;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
// $success: #7952b3;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

//
// Font Awesome
//
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";


//
// Custom styles
//

/*
* select2 plugin
*/
// @import "../plugins/select2/css/select2.css";
@import "/node_modules/select2/dist/css/select2.css";
@import "../plugins/select2/css/select2-bootstrap-5-theme.css";

/*
* datatables plugin
*/
// @import "../plugins/datatables/dataTables.bootstrap5.css";
// @import "../plugins/datatables/buttons.bootstrap5.css";

@import "responsive";

// @import "custom-el";
@import "custom-bs";
@import "upload-image";

@font-face {
    font-family: 'Mona Sans';
    src:
        url('../fonts/Mona-Sans/Mona-Sans.woff2') format('woff2 supports variations'),
        url('../fonts/Mona-Sans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

@import "font-style";

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding: 0;
    margin: 0;
    font-family: 'Mona Sans';
    font-weight: var(--fs-fweight-400);
    font-stretch: var(--fs-mona-fstretch-medium);
    // font-family: 'Mona-Sans', sans-serif;
    // font-family: 'Mona Sans', sans-serif;
    // font-weight: 600;
}

label {
    font-size: 16px;
}

/*
* Remove Arrows/Spinners Input Type Number
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.sidebar {
    .offcanvas-md {

        .offcanvas-body {

            .nav {

                .nav-item {

                    a {
                        color: var(--bs-dark-text-emphasis);

                        span {
                            font-size: 10px !important;
                            font-weight: var(--fs-fweight-500);
                            font-stretch: var(--fs-mona-fstretch-medium);
                            margin-top: 10px;
                        }

                        &.active {
                            background-color: transparent;
                            color: var(--bs-black);
                            border-right: 7px;
                            border-style: solid;
                            border-image: linear-gradient(#529753, #9cdc72) 1 100%;
                            margin-left: 7px;

                            span {
                                font-weight: var(--fs-fweight-600) !important;
                                font-stretch: var(--fs-mona-fstretch-medium) !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.content {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
    min-height: 100vh;
}

header {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

/*
* additional class
*/
.divider-line {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.table {
    &.table-app {
        tr {
            td, th {
                font-size: 14px;
                padding-top: 15px;
                padding-bottom: 15px;
            }

            th {
                font-weight: 700;
            }

            .dt-empty {
                text-align: center;
            }

        }
    }
}
