// Toggle global options
$enable-gradients: false;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

//
// Font Awesome
//
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";


//
// Custom styles
//

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding: 0;
    margin: 0;
}

.sidebar {
    .offcanvas-md {
        width: 4.5rem;

        .offcanvas-body {
            .nav {
                .nav-item {
                    a {
                        color: var(--bs-dark-text-emphasis);

                        &.active {
                            color: var(--bs-white)
                        }

                        span {
                            font-size: 12px !important;
                        }
                    }
                }
            }
        }
    }
}

.content {
    width: calc(100vw - 4.5rem);
    min-height: 100vh;
}

header {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

@include media-breakpoint-up(md) {
    .sidebar {
        --bs-bg-opacity: 1;
        background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;

        .offcanvas-md {
            --bs-bg-opacity: 1;
            background-color: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity)) !important;
        }
    }
}

@include media-breakpoint-down(md) {
    .content {
        width: 100vw;
        min-height: 100vh;
    }

    .sidebar {
        .offcanvas-md {
            border-radius: 35px !important;
            right: 10px !important;
            height: 70%;
            // margin: 50% auto;
            margin: calc(100vh - (83 / 100 * 100vh)) auto;

            div {
                margin-top: 35px !important;
            }
        }
    }

    header {
        border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}
